.configVersion = 0.7.209
minimserver.monitorUDN = 2a4a9c29-cd90-451a-a8c8-d4138456599c
minimserver.udn = 4d21c87f-2087-465f-8f7f-9daab37547ee
minimserver.lastIndexTags = Artist, Date, Genre, All Artists, Composer, work
minimserver.systemUpdateID = 4
minimserver.previousAlbumArtistDisplayRole = true
minimserver.tagCustom = AlbumArtist.displayRole\={artist}, Composer.displayRole\={artist}
minimserver.configVersion = 0.8.313
minimserver.contentDir = /hd/flac
minimserver.license = 0.8.1
minimserver.indexTags = Artist, Date, Genre, All Artists, Composer, work
.integrityCheck = 2494ae9ac4afb385c969b3a0c0577abec
